html, body {
  height: 100%;
}

.green {
  border-color: green;
}

body {
  background: #222;
  /*background-image: url('img/linen-lighter.png');*/
}

.raise {
	border: 1px solid rgba(255,255,255,0.1);
	border-radius: 5px;
}

.container-fluid {
  padding: 0px;
}

.transparentPattern {
  background-image: url('img/checkerboard.png');
}

a {
  cursor: pointer;
}

.dropdown-menu .shape {
  width: 42px;
  height: 42px;
  cursor: pointer;
  display: inline-block;
  padding: 0;
}

/*.dropdown-menu [class*="shape-"] {
  box-sizing: border-box;
}*/

.absolute {
  position: absolute;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.btn-group > .btn {
  font-size: 12px;
}

.btn-group > .btn-group {
  margin-top: 0px;
}

.btn-plast {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  *background-color: #222222;
  background-image: -moz-linear-gradient(top, #666670, #46464d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#666670), to(#46464d));
  background-image: -webkit-linear-gradient(top, #666670, #46464d);
  background-image: -o-linear-gradient(top, #666670, #46464d);
  background-image: linear-gradient(to bottom, #666670, #46464d);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-plast:hover,
.btn-plast:active,
.btn-plast.active,
.btn-plast.disabled,
.btn-plast[disabled] {
  color: #ffffff;
  background-color: #46464d;
  *background-color: #151515;
}

.btn-plast:active,
.btn-plast.active {
  background-color: #080808 \9;
}

.btn-group.open .btn.dropdown-toggle.btn-plast {
  background-color: #363636;
}

.pointer {
	cursor: pointer;
}
/*
-webkit-linear-gradient(top, #494852, #2A2A30)
*/
.navbar-inverse .navbar-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #494852, #2A2A30);
  background-image: -ms-linear-gradient(top, #494852, #2A2A30);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#494852), to(#2A2A30));
  background-image: -webkit-linear-gradient(top, #494852, #2A2A30);
  background-image: -o-linear-gradient(top, #494852, #2A2A30);
  background-image: linear-gradient(top, #494852, #2A2A30);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#494852', endColorstr='#2A2A30', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.nav .dropdown-toggle .caret {
margin-top: 6px;
border-top-color: #000;
border-bottom-color: #000;
}

.iconBtns i {
  display: block;
  margin: 0 auto;
}

.iconBtns {
  margin-bottom: 5px;
}

.iconBtnsSplit {
  height: 44px;
}

.dispNone {
  display: none;
}

.hidden {
  visibility: hidden;
}

.nav .dropdown-toggle .whiteCaret {
  border-top-color: white;
  border-bottom-color: white;
}

.whiteCaret {
  border-top-color: white;
  border-bottom-color: white;
}

.create-comp-buttons .btn-group > .btn {
  font-size: 12px;
}

.theme-buttons .btn-group > .btn {
  font-size: 12px;
}

/*Button Group Dropdown hack*/
.btn-group.group-dropdown {
  padding: 0px;
  margin-left: -1px;
}
.btn-group.group-dropdown .dropdown-toggle {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn-group.group-dropdown:first-child {
  padding: 0px;
  margin-right: -1px;
}
.btn-group.group-dropdown:first-child .dropdown-toggle {
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
.btn-group.group-dropdown:first-child .dropdown-toggle.btn-large {
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px;
}
.btn-group.group-dropdown:last-child {
  padding: 0px;
  margin-left: -1px;
}
.btn-group.group-dropdown:last-child .dropdown-toggle {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}
.btn-group.group-dropdown:last-child .dropdown-toggle.btn-large {
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px;
}

.btn-grouped {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px
}

.header .navbar-inner .nav:first-child {
  margin-right: 5%;
}

@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
    .header .navbar-inner .nav:first-child {
    margin-right: 0%;
  }
}



.audio-item-autoplay{
	font-style: italic;
}
.audio-item-global{
  font-weight: bold;
  color: red!important;
  background-color: #555!important;
  padding:  10px;
}
.audio-item-global a{
  font-weight: bold;
  color: white!important;
  background-color: transparent;
}

/*
Social

*/


.stButton {
  position: relative;
  z-index: 1;
  text-decoration: none;
  color: #000;
  display: inline-block;
  cursor: pointer;
  margin-right: 3px;
  margin-left: 3px;
  font-size: 11px;
  line-height: 16px;
}
.stButton .stLarge {
  display: inline-block;
  height: 32px;
  width: 32px;
  position: relative;
}