.horizontalDropdown > li {
	float: left;
}

.popover {
	position: absolute;
	top: 0px;
	left: 0px;
	border-radius: 6px;

	background-color: #2c2c2c;
	color: white;
	width: 216px;
	padding: 5px 5px 5px 10px;
}

.popover input {
	margin-bottom: 5px;
}

.tablets-toggle {
	border-radius: 0 0 4px 4px;
	width: 100%;
	box-sizing: border-box;
}

.tablets-content > * {
	display: block;
	border-radius: 0;
}

/*TODO: move tablets css*/
.tablets.hiding .tablets-content {
	height: 0px;
	overflow: hidden;
}

.tablets.showing .caret {
	border-top: 0px;
	border-bottom: 4px solid;
  	border-right: 4px solid transparent;
  	border-left: 4px solid transparent;
}

.tablets .iconBtns {
	margin-bottom: 0px;
}

.server-files ul {
	max-height: 80px;
	overflow-y: auto;
	padding: 0;
	margin: 0;
}

.server-files ul li {
	padding: 5px;
	cursor: pointer;
}

.server-files ul li:nth-child(2n) {
	background-color: #74D3F5;
}

.server-files ul li:nth-child(2n+1) {
	background-color: #C1EEFF;
}

.server-files ul li:hover {
	background-color: #F9FFB0;
}

.itemGrabber .thumbnail img{
	max-height: 100px;
	width: auto;
}
