.transitionSlideSnapshot {
	position: absolute;
	border: 1px solid rgba(0, 0, 0, .1);
    padding: 3px 3px 0;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.transitionSlideSnapshot .content-container {
    -webkit-transform: perspective(500px);
    -webkit-transform-style: preserve-3d;
    -moz-transform: perspective(500px);
    -moz-transform-style: preserve-3d;
}

.transitionSlideSnapshot .content {
    border: none;
    -webkit-transform: translateZ(0px);
    -webkit-transform-style: preserve-3d;
    -moz-transform: translateZ(0px);
    -moz-transform-style: preserve-3d;
    pointer-events: none;
}
.transitionSlideSnapshot .content .back {
    background: rgba(200,200,200,0.8);

    text-align: center;
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    -webkit-transform: rotateY(180deg) translateZ(2px);
    -moz-transform: rotateY(180deg) translateZ(2px);

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;

    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    display:box;
    box-pack:center;
    box-align:center;
}
.transitionSlideSnapshot .content .top,
.transitionSlideSnapshot .content .bottom,
.transitionSlideSnapshot .content .right,
.transitionSlideSnapshot .content .left {
    background: rgba(255,255,255,0.8);
    position: absolute;
}
.transitionSlideSnapshot .content .right,
.transitionSlideSnapshot .content .left {
    -webkit-transform: rotateY(-90deg);
    -webkit-transform-origin: 50% 50%;
    -moz-transform: rotateY(-90deg);
    -moz-transform-origin: 50% 50%;
}
.transitionSlideSnapshot .content .top,
.transitionSlideSnapshot .content .bottom {
    -webkit-transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 50%;
    -moz-transform: rotateX(-90deg);
    -moz-transform-origin: 50% 50%;
}
.transitionSlideSnapshot .content .left {
    top: -1px;
    bottom: -1px;
    left: -3px;
    width: 5px;
}
.transitionSlideSnapshot .content .right {
    top: -1px;
    bottom: -1px;
    right: -3px;
    width: 5px;
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
}
.transitionSlideSnapshot .content .top {
    top: -3px;
    height: 5px;
    left: -1px;
    right: -1px;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
}
.transitionSlideSnapshot .content .bottom {
    bottom: -3px;
    height: 5px;
    left: -1px;
    right: -1px;
}

.transitionSlideSnapshot .content.bg-default {
	background-image: none;
}

.transitionSlideSnapshot .content {
	width: 75px;
	height: 50px;
}

.transitionSlideSnapshot canvas {
	width: 100%;
	height: 100%;
}

.transitionSlideSnapshot .badge {
	position: absolute;
	bottom: -7px;
	left: -7px;
}

.transitionSlideSnapshot .spinners {
	position: absolute;
	bottom: -40px;
}

.transitionSlideSnapshot .spinners .smartspinner {
	text-align: left;
	color: #848484;
	margin-left: 10px;
}

.component.transitionSlideSnapshot .positioningCtrls {
	bottom: -30px;
	width: 150px;
	left: -25px;
}

.component.transitionSlideSnapshot .topLabel {
	left: 20%;
	top: -25px;
	width: 100px;
}

.component.transitionSlideSnapshot .leftLabel {
	left: -60px;
}

.component.transitionSlideSnapshot .rightLabel {
	transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	right: -60px;
	top: 20%;
}

.component.transitionSlideSnapshot .rotates,
.component.transitionSlideSnapshot .label.layer {
	font-size: 20px;
}
.component.transitionSlideSnapshot .label.layer+input {
	margin-left: 10px;
}

.component.transitionSlideSnapshot .label.scales {
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	position: absolute;
}
.component.transitionSlideSnapshot .label.scales+input {
	margin-left: 30px;
}

.slideTable .transitionSlideSnapshot .badge:before {
	counter-increment: transSlide;
	//content: counter(transSlide);
}

.slideTable {
	counter-reset: transSlide;
}