.operatingTable {
  webkit-box-shadow: -2px 0px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: -2px 0px 15px rgba(0, 0, 0, 0.4);
  box-shadow: -2px 0px 15px rgba(0, 0, 0, 0.4);

  font-family: "Lato", sans-serif;
  position: absolute;
  left: 150px;
  z-index: 1;
  top: 56px;
  bottom: 0px;
  right: 0px;
}

.operatingTable .slideContainer {
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	
	margin: 10px auto;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.8);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.8);
	position: relative;
}

.operatingTable .CodeMirror {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1024px;
	height: 768px;
	margin: 10px auto;
}

.operatingTable [class*="span"] {
	float: none;
	margin-left: 0;
}

.operatingTable .markdownArea {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 0;
	width: 100%;
	height: 100%;
	padding: 20px 0px 0px 0px;
	box-sizing: border-box;
}

.ui-selectable-helper { position: absolute; z-index: 100; border:1px dotted black; }

.grid {
        margin: 0px auto auto;
        border: 1px solid rgba(0, 0, 0, .2);
        border-width: 0 1px 1px 0;
        background-color: transparent;
      }

      .grid div {
        border: 1px solid rgba(0, 0, 0, .2);
        border-width: 1px 0 0 1px;
        float: left;
}